#trainer-page {
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/images/virtual3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.trainer-page-text {
    color: white;
    text-shadow: 2px 2px 7px #000000;
}

#trainer-text-div {
    position: absolute;
    width: 25%;
    top: 65%;
    left: 10%;
}

#flexibility-page {
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/images/virtual2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.flexibility-page-text {
    color: white;
    text-shadow: 2px 2px 5px #000000;
}

#flexibility-text-div {
    position: absolute;
    width: 25%;
    top: 65%;
    left: 5%;
}

#experience-page {
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/images/virtual1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.experience-page-text {
    color: white;
    text-shadow: 2px 2px 5px #000000;
}

#experience-text-div {
    position: absolute;
    width: 25%;
    top: 60%;
    left: 40%;
}